---
---
:root {
    --primary: #212121;
    --primary-light: #484848;
    --primary-dark: #000000;
    --secondary: #004d40;
    --secondary-light: #39796b;
    --secondary-dark: #00251a;
    --background: #ffffff;
    --background-light: #ffffff;


    --primary-text: white;
    --primary-light-text: white;
    --primary-dark-text: rgba(0, 0, 0, 0.8);
    --secondary-text: white;
    --secondary-light-text: white;
    --secondary-dark-text: rgba(0, 0, 0, 0.6);
    --background-text: rgba(0, 0, 0, 0.8);
    --background-light-text: black;
}

$font-family: -apple-system, Helvetica, arial, sans-serif;

html {
    font-family: $font-family;
    line-height: 1.5em;
    text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--background);
    color: var(--background-text);
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--background-text);
    font-size: 16px;
    overflow-wrap: anywhere;
}

.flex {
    flex: 1;
}

/* Container for flexboxes */
.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex-direction: column;
    display: flex;
    flex: 1;
    overflow: hidden;
    width: 100%;
}
.column-border {
    border-left: 1px solid var(--secondary);
}
.column.hover-over:hover {
    background-color: var(--primary-light);
    color: var(--primary-light-text);
}

.column a {
    color: var(--secondary);
}
.column a:hover {
    color: var(--secondary-light);
}
.container {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media(max-width: 350px) {
    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media(max-width: 768px) {
    .container{
        margin-left: 0px; 
    }
    .row {
        -webkkit-flex-direction: column;
        flex-direction: column;
    }
    .column {
        padding: 0;
    }
    .column-border {
        border: none;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
}

a {
    color: var(--primary-dark-text);
    &:hover {
        text-decoration: none;
    }
}


h1 {
    line-height: 1.2em;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.mono {
    font-family: monospace;
}

/* Style the top navigation bar */
nav,
footer {
    // padding-left: 15px;

    /* Style the topnav links */
    a.nav-footer-text {
        color: var(--secondary-dark-text);
        text-decoration: none;
        border-bottom: none;
        font-size: 14px;
        margin-right: 16px;
        padding-bottom: 8px;
        padding-top: 8px;
        &:hover {
            color: black;
        }
        display: inline-block;
    }
    a.current {
        color: black;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline;
        }
    }
}

/* Style the footer */
footer.footer {
    bottom: 0;

}
.fun-button {
    background-color: var(--secondary);
    border: none;
    color: var(--secondary-text);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 0;
}

.fun-button:hover {
    background-color: var(--secondary-light);
    color: var(--secondary-light-text);
}


.inherit {
    font: inherit;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}


header.header {
    padding: 10px;
}

input[type=text],
select {
    padding: 14px 20px;
    margin: 8px 0;
    border-style: solid;
    border-width: 0.5px;
    text-overflow: ellipsis;
}


.front-matter {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    h4 {
        font-family: $font-family;
    }
    .bylines {

        .byline {
            margin-right: 20px;
            float: left;
            h3,
            p {
                margin: 0;
                font-family: $font-family;
            }
            h3 {
                font-size: 9px;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.5);
            }
            p {
                font-size: 10px;
                line-height: 1.6em;
            }
        }
    }
}
